<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn Vue.js</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="nav-bar"></div>

    <div id="app">
        <div class="product">
            <div class="product-image">
                <img :src="image" :alt="imageAlt" :title="imageTitle">
            </div>

            <div class="product-info">
                <h1>{{ product }}</h1>

                <p>{{ product }} wishlisted by 1000 customers!</p>

                <p>{{ description }}</p>

                <p v-if="inStock">In Stock</p>
                <p v-else>Out of Stock</p>

                <p v-if="onSale">On Sale!</p>

                <ul v-if="details.length">
                    <li v-for="(detail, index) in details" :key="index">{{ detail }}</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Include Vue.js Development Version -->
    <script src="js/vue-2.6.12.js"></script>

    <!-- Include main application js -->
    <script src="js/main.js"></script>
</body>
</html>